@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(/Fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(/Fonts/Lausanne-500.woff2);
}

html, body {
  overscroll-behavior: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

/*  */
.moveX {
    animation: moveX 8s linear infinite;
}

@keyframes moveX {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.moveLink{
    opacity: 0;
    transition:all ease 0.3s;
}

.moveLink:hover{
    opacity: 1;
}
/*  */



/*  */
.cross:hover{
    cursor: pointer;
}
.cross:hover .cross-lines{
    background-color: #CCFF00;   
}
/*  */







